@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* *{
    font-family: Outfit;
} */

.active {
  background-color: #1e1e1e;
  color: #ffffff;
}

.active svg {
  color: #ffffff;
}
